.main container{
    max-width: 900px;
    margin: auto;
    border: 2px;
    border-style: groove;
    border-color: darkblue;
}
article figure img{
    width: 100%;
    padding-top: 20px;
}
body{
    background-color: #D4C5E7;
    color: #2A1422;
}
#header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
.footer{
    color:#3B1B1B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #3B1B1B;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
figcaption{
    padding: 5px;
    text-align: center;
}
li{
    display: inline;
    border-bottom: 1px;
    border-color: azure;
}
ul{
    list-style-type: none;
    font-size: medium;
    border: 2px;
    border-color: #3B1B1B;
}
.photo,
.text,
.sidebar{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}
.photo{
    width: 40%;
}
.text{
    width: 40%;
}
.sidebar{
    width: 20%;
}
